* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    background: no-repeat url(https://wallpapers.com/images/hd/stunning-rainbow-cat-jbs1jrybg000fh69.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
}

form {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(224, 224, 224, 0.8);
    padding: 3em 2em 4em 2em;
    border-radius: 8px;

}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.like {
    margin-top: 1.8em;
    margin-bottom: 10px;
    position: relative;
}

.form-label {
    position: absolute;
    z-index: 1;
    color: rgb(232, 232, 232);
    left: 5px;
    top:0;
    font-weight: 600;
    font-size: 14px;
    pointer-events: none;
    opacity: 0.5;
    transition:all .5s ease;

}

.form-input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(250, 250, 250, 0.2);
    font-size: 1em;
    padding: 0.5em 0 0;
    background-color: transparent;
    color:#fff;

}



.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label{
    top: -12px;
    opacity: 1;


}

.like i {
    position: absolute;
    font-size: 20px;
    color: rgb(255, 255, 255);
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}
.infor {

    margin-top: 1.6em;
    font-size: 15px;

}
.infor a {
    margin-left: 1em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.infor a:hover {
    text-decoration: underline;
}
.btn {
    width: 80%;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 2.5em;
    margin-top: 1.2em;
    transform: translateX(10%);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;

}
.btn:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: all 0.2s linear;
}
p {
    margin-top: 1em;
    text-align: center;
}
p a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 252, 95)
}
p a:hover {
    text-decoration: underline;

}