<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
    <section>
        <form th:action="@{/login}" method="post" th:object="${NHANVIEN}">
            <h1>Login</h1>
            <div class="like user">
                <input type="text" id="username" class="form-input" placeholder=" " th:field="*{TenTaiKhoan}" requiredautofocus="autofocus"/>
                <label for="username" class="form-label">Username</label>
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <div class="like pass">            
                <input type="password" id="password" class="form-input" placeholder=" " th:field="*{MatKhau}" required/>
                <label for="password" class="form-label"  >Password</label>
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <div class="infor">
                <input type="checkbox" id="check" >
                <label for="check"  >Remember me</label>
                <a href="#">Forgot password?</a>
            </div>
                <button type="submit" class="btn">Login</button>
                <p>Don't have a account.<a href="#">Register</a></p>
        </form>
    </section>
</body>
</html>