<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>VIP CINEMAS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/assets/font/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/footer.css}">
    <link rel="stylesheet" th:href="@{assets/css/homepage.css}">

    <link rel="stylesheet" th:href="@{assets/css/phim/phim.css}">
    <link rel="stylesheet" th:href="@{assets/css/lichchieu/lichchieu.css}">
</head>

<body class="">

    <!-- !PAGE CONTENT! -->
    <header>
        <div class="empty">

        </div>
        <div class="poster">
            <div class="user">
                <a href="/login" class="profile-btn d-inline-block">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>

            <img src="https://holaa.codexshaper.com/html/assets/images/hero/ht-banner-img-1.webp" alt="">
        </div>
        <div>
            <div class="content">
                <h2 class="banner-title text-uppercase mb-4">THE LORD OF THE RING</h2>
                <ul class="movie-info-list d-flex align-item-center justify-content-start gap-1 gap-lg-2">
                    <li class="movie-info-list--item style-two radius-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path
                                d="M8.00004 12.4493L3.05574 15.2169L4.16001 9.65938L0 5.81235L5.62676 5.14521L8.00004 0L10.3733 5.14521L16 5.81235L11.8401 9.65938L12.9443 15.2169L8.00004 12.4493Z"
                                fill="currentColor"></path>
                        </svg>
                        <span>4.9 Reviews</span>
                    </li>
                    <li class="movie-info-list--item style-two radius-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <path
                                d="M7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15ZM8.25 7.5V3.75H6.75V9H11.25V7.5H8.25Z"
                                fill="currentColor"></path>
                        </svg>
                        <span>02h 30m</span>
                    </li>
                    <li class="movie-info-list--item style-two radius-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                            <path
                                d="M0.8 0H15.2C15.6418 0 16 0.3731 16 0.833333V14.1667C16 14.6269 15.6418 15 15.2 15H0.8C0.358176 15 0 14.6269 0 14.1667V0.833333C0 0.3731 0.358176 0 0.8 0ZM7.6 8.75V7.5H6.8V5H5.6V7.5H4.4V5H3.2V8.75H5.6V10H6.8V8.75H7.6ZM12.8 10L11 7.5L12.8 5H11.4L10 6.875V5H8.8V10H10V8.125L11.4 10H12.8Z"
                                fill="currentColor"></path>
                        </svg>
                        <span>4k Quality</span>
                    </li>
                </ul>
                <p class="banner-description">
                    The Lord of the rings is a trilogy of epic fantasy </p>
                <div class="play">
                    <a href="https://youtu.be/R2gbPxeNk2E?si=hESRRi5YwcG3PAMt"
                        class="hl-btn big-btn lh-1 btn-base fs-18 fw-bold radius-100 flex-shrink-0 text-uppercase">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                            <path
                                d="M1 2.66967C1 1.90998 1 1.53013 1.16686 1.31807C1.31227 1.13326 1.53485 1.01765 1.77687 1.00119C2.05461 0.982329 2.39036 1.18772 3.06203 1.59855L10.9592 6.42893C11.542 6.78532 11.8335 6.96359 11.934 7.19025C12.022 7.38826 12.022 7.61173 11.934 7.80974C11.8335 8.0364 11.542 8.21467 10.9592 8.57106L3.06203 13.4014C2.39036 13.8123 2.05461 14.0177 1.77687 13.9988C1.53485 13.9824 1.31227 13.8667 1.16686 13.6819C1 13.4699 1 13.0901 1 12.3304V2.66967Z"
                                fill="currentColor" fill-opacity="0.2" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span class="pt-0">Watch Now</span>
                    </a>
                    <a href="https://youtu.be/R2gbPxeNk2E?si=hESRRi5YwcG3PAMt"
                        class="popup_video hl-btn big-btn lh-1 btn-inactive trans-btn fs-18 radius-100 fw-medium flex-shrink-0 text-uppercase">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
                            <path
                                d="M0 11.0526H8.09524V12.6316H0V11.0526ZM0 5.52632H16.1905V7.10526H0V5.52632ZM0 0H16.1905V1.57895H0V0ZM12.9524 11.0526V8.68421H14.5714V11.0526H17V12.6316H14.5714V15H12.9524V12.6316H10.5238V11.0526H12.9524Z"
                                fill="currentColor"></path>
                        </svg>
                        <span class="pt-0">PLAY TRAILER</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main >

        <!-- First Photo Grid-->
        <div class="option col-third-gird">
            <div th:each="phim : ${danhSachPhim}" class="path_Third">
                <div class="image">
                    <img th:src="${phim.AnhPhim}" alt="Norway">
                </div>
                <div class="content ">
                    <p><b th:text="${phim.TenPhim}"></b></p>
                    <p><b th:text="${phim.DaoDien}"></b></p>
                </div>
            </div>
            
        </div>
        <div style="padding: 8px 0;width: 100%;background-color: #630000;text-align: center;">
            <h1>Lịch chiếu</h1>
        </div>
    
        <div class="option col-third-gird">
            <div th:each="lichchieudisplay : ${danhSachKhungGio}" class=" path_Third">
                <div class="image">
                    <img th:src="${lichchieudisplay.AnhPhim}" alt="Norway">
                </div>
                <div class="film">
                    <h3 th:text="${lichchieudisplay.TenPhim}"></h3>
                    <p>Đạo diễn: <span class="daodien" th:text="${lichchieudisplay.DaoDien}"></span></p>
                    <hr>
                    <p>Ngày chiếu: <span class="daodien" th:text="${lichchieudisplay.NgayChieu}"></span></p>
                    <span class="times" th:text="${lichchieudisplay.TGBatDau}"></span>
    
                </div>
            </div>
            <div class="center page">
                <ul class="selection">
                    <li><a href="#" class="items">«</a></li>
                    <li><a href="#" class="items">1</a></li>
                    <li><a href="#" class="items">2</a></li>
                    <li><a href="#" class="items">3</a></li>
                    <li><a href="#" class="items">4</a></li>
                    <li><a href="#" class="items">»</a></li>
                </ul>
            </div>
        </div>
        <!-- Pagination -->
    </main>

    <!-- Footer -->
    <address>
        <div class="col-third-gird">
            <div>
                <h3>FOOTER</h3>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                    ultricies congue
                    gravida diam non fringilla.</p>
            </div>

            <div>
                <h3>BLOG POSTS</h3>
                <div class="footer_poster">
                    <img th:src="@{/assets/IMAGE/ft1.jpg}" style="width:45%;" class="w3-round"><br><br>

                </div>
                <h4><b>Thank you!!!</b></h4>
                </ul>
            </div>

            <div>
                <h3>POPULAR ROOM</h3>
                <div>
                    <span>Đà Nẵng</span>
                    <span>Nha Trang</span>
                    <span>Tp.Hồ Chí Minh</span>
                    <span>Hà Nội</span>
                    <span>Cần Thơ</span>
                    <span>Hải Phòng</span>

                </div>
            </div>

        </div>
    </address>

    <footer>
        <p>Kết nối với chúng tôi</p>
        <div class="ficon1">
            <a href="#" target="_blank"><i class="icon fa-brands fa-square-facebook"></i></a>
        </div>
        <div class="ficon2">
            <a href="#" target="_blank"><i class="icon fa-brands fa-instagram"></i></a>
        </div>
        <div class="ficon3">
            <a href="#" target="_blank"><i class="icon fa-brands fa-pinterest-p"></i></a>
        </div>
        <div class="ficon4">
            <a href="#" target="_blank"><i class="icon fa-brands  fa-twitter"></i></a>
        </div>
        <div class="ficon5">
            <a href="#" target="_blank"><i class="icon fa-regular fa-envelope"></i></a>
        </div>
    </footer>
    <!-- End page content -->



</body>

</html>
